<%= error_messages_for :knowledge_item %>

<% unless @knowledge_item.nil? %>
  <div class="knowledgebox">
    <strong><%= @knowledge_item.title %></strong>  by <%= @knowledge_item.user.login %>
    <%= link_to("edit", edit_knowledge_item_path(@knowledge_item)) unless @current_user.nil? || @current_user.id != @knowledge_item.user.id %>
    <p><%= @knowledge_item.body %></p>
 </div>
<% end %>